h1 {
  text-align: center;
  font-family: sans-serif;
}

.v1-0 {
  text-align: center;
  border: 2px solid;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 15px;
}

button {
  text-align: center;
  margin: auto;
  display: block;
  padding: 10px;
  color: black;
}

button:hover {
  cursor: pointer;
  text-decoration: none;
}
